/**
 * @file
 * Tripal CV browser relationship decoration CSS file.
 */

/**
 * Generic relationship types.
 */
.tripal-cvb-relationship-is_a >.tripal-cvb-cvterm:before {
  color: green;
  content: "[is a]";
  padding-right: 1ex;
}

.tripal-cvb-relationship-part_of >.tripal-cvb-cvterm:before {
  color: RoyalBlue;
  content: "[part of]";
  padding-right: 1ex;
}

.tripal-cvb-relationship-derives_from >.tripal-cvb-cvterm:before {
  color: orange;
  content: "[derives from]";
  padding-right: 1ex;
}

/**
 * From relationship CV.
 */
.tripal-cvb-relationship-integral_part_of >.tripal-cvb-cvterm:before {
  color: gray;
  content: "[integral part of]";
  padding-right: 1ex;
}

.tripal-cvb-relationship-has_improper_part >.tripal-cvb-cvterm:before {
  color: gray;
  content: "[has improper part]";
  padding-right: 1ex;
}

.tripal-cvb-relationship-has_part >.tripal-cvb-cvterm:before {
  color: gray;
  content: "[has part]";
  padding-right: 1ex;
}

.tripal-cvb-relationship-instance_of >.tripal-cvb-cvterm:before {
  color: gray;
  content: "[instance of]";
  padding-right: 1ex;
}

.tripal-cvb-relationship-agent_in >.tripal-cvb-cvterm:before {
  color: gray;
  content: "[agent in]";
  padding-right: 1ex;
}

.tripal-cvb-relationship-has_agent >.tripal-cvb-cvterm:before {
  color: gray;
  content: "[has agent]";
  padding-right: 1ex;
}

.tripal-cvb-relationship-participates_in >.tripal-cvb-cvterm:before {
  color: gray;
  content: "[participates in]";
  padding-right: 1ex;
}

.tripal-cvb-relationship-has_participant >.tripal-cvb-cvterm:before {
  color: gray;
  content: "[has participant]";
  padding-right: 1ex;
}

.tripal-cvb-relationship-precedes >.tripal-cvb-cvterm:before {
  color: gray;
  content: "[precedes]";
  padding-right: 1ex;
}

.tripal-cvb-relationship-preceded_by >.tripal-cvb-cvterm:before {
  color: gray;
  content: "[preceded by]";
  padding-right: 1ex;
}

.tripal-cvb-relationship-derived_into >.tripal-cvb-cvterm:before {
  color: gray;
  content: "[derived into]";
  padding-right: 1ex;
}

.tripal-cvb-relationship-relationship >.tripal-cvb-cvterm:before {
  color: gray;
  content: "[relationship]";
  padding-right: 1ex;
}

.tripal-cvb-relationship-improper_part_of >.tripal-cvb-cvterm:before {
  color: gray;
  content: "[improper part of]";
  padding-right: 1ex;
}

.tripal-cvb-relationship-transformed_into >.tripal-cvb-cvterm:before {
  color: gray;
  content: "[transformed into]";
  padding-right: 1ex;
}

.tripal-cvb-relationship-transformation_of >.tripal-cvb-cvterm:before {
  color: gray;
  content: "[transformation of]";
  padding-right: 1ex;
}

.tripal-cvb-relationship-adjacent_to >.tripal-cvb-cvterm:before {
  color: gray;
  content: "[adjacent to]";
  padding-right: 1ex;
}

.tripal-cvb-relationship-contains >.tripal-cvb-cvterm:before {
  color: gray;
  content: "[contains]";
  padding-right: 1ex;
}

.tripal-cvb-relationship-contained_in >.tripal-cvb-cvterm:before {
  color: gray;
  content: "[contained in]";
  padding-right: 1ex;
}

.tripal-cvb-relationship-location_of >.tripal-cvb-cvterm:before {
  color: gray;
  content: "[location of]";
  padding-right: 1ex;
}

.tripal-cvb-relationship-located_in >.tripal-cvb-cvterm:before {
  color: gray;
  content: "[located in]";
  padding-right: 1ex;
}

.tripal-cvb-relationship-has_proper_part >.tripal-cvb-cvterm:before {
  color: gray;
  content: "[has proper part]";
  padding-right: 1ex;
}

.tripal-cvb-relationship-proper_part_of >.tripal-cvb-cvterm:before {
  color: gray;
  content: "[proper part of]";
  padding-right: 1ex;
}

.tripal-cvb-relationship-has_integral_part >.tripal-cvb-cvterm:before {
  color: gray;
  content: "[has integral part]";
  padding-right: 1ex;
}

/**
 * From sequence ontology CV.
 */
.tripal-cvb-relationship-edited_from >.tripal-cvb-cvterm:before {
  color: gray;
  content: "[edited from]";
  padding-right: 1ex;
}

.tripal-cvb-relationship-partial_evidence_for_feature >.tripal-cvb-cvterm:before {
  color: gray;
  content: "[partial evidence for feature]";
  padding-right: 1ex;
}

.tripal-cvb-relationship-paralogous_to >.tripal-cvb-cvterm:before {
  color: gray;
  content: "[paralogous to]";
  padding-right: 1ex;
}

.tripal-cvb-relationship-overlaps >.tripal-cvb-cvterm:before {
  color: gray;
  content: "[overlaps]";
  padding-right: 1ex;
}

.tripal-cvb-relationship-orthologous_to >.tripal-cvb-cvterm:before {
  color: gray;
  content: "[orthologous to]";
  padding-right: 1ex;
}

.tripal-cvb-relationship-non_functional_homolog_of >.tripal-cvb-cvterm:before {
  color: gray;
  content: "[non functional homolog of]";
  padding-right: 1ex;
}

.tripal-cvb-relationship-member_of >.tripal-cvb-cvterm:before {
  color: gray;
  content: "[member of]";
  padding-right: 1ex;
}

.tripal-cvb-relationship-translates_to >.tripal-cvb-cvterm:before {
  color: gray;
  content: "[translates to]";
  padding-right: 1ex;
}

.tripal-cvb-relationship-variant_of >.tripal-cvb-cvterm:before {
  color: gray;
  content: "[variant of]";
  padding-right: 1ex;
}

.tripal-cvb-relationship-translation_of >.tripal-cvb-cvterm:before {
  color: gray;
  content: "[translation of]";
  padding-right: 1ex;
}

.tripal-cvb-relationship-transcribed_to >.tripal-cvb-cvterm:before {
  color: gray;
  content: "[transcribed to]";
  padding-right: 1ex;
}

.tripal-cvb-relationship-transcribed_from >.tripal-cvb-cvterm:before {
  color: gray;
  content: "[transcribed from]";
  padding-right: 1ex;
}

.tripal-cvb-relationship-paralogous_to >.tripal-cvb-cvterm:before {
  color: gray;
  content: "[paralogous to]";
  padding-right: 1ex;
}

.tripal-cvb-relationship-overlaps >.tripal-cvb-cvterm:before {
  color: gray;
  content: "[overlaps]";
  padding-right: 1ex;
}

.tripal-cvb-relationship-orthologous_to >.tripal-cvb-cvterm:before {
  color: gray;
  content: "[orthologous to]";
  padding-right: 1ex;
}

.tripal-cvb-relationship-non_functional_homolog_of >.tripal-cvb-cvterm:before {
  color: gray;
  content: "[non functional homolog of]";
  padding-right: 1ex;
}

.tripal-cvb-relationship-member_of >.tripal-cvb-cvterm:before {
  color: gray;
  content: "[member of]";
  padding-right: 1ex;
}

.tripal-cvb-relationship-translates_to >.tripal-cvb-cvterm:before {
  color: gray;
  content: "[translates to]";
  padding-right: 1ex;
}

.tripal-cvb-relationship-variant_of >.tripal-cvb-cvterm:before {
  color: gray;
  content: "[variant of]";
  padding-right: 1ex;
}

.tripal-cvb-relationship-translation_of >.tripal-cvb-cvterm:before {
  color: gray;
  content: "[translation of]";
  padding-right: 1ex;
}

.tripal-cvb-relationship-transcribed_to >.tripal-cvb-cvterm:before {
  color: gray;
  content: "[transcribed to]";
  padding-right: 1ex;
}

.tripal-cvb-relationship-transcribed_from >.tripal-cvb-cvterm:before {
  color: gray;
  content: "[transcribed from]";
  padding-right: 1ex;
}

.tripal-cvb-relationship-trans_spliced_to >.tripal-cvb-cvterm:before {
  color: gray;
  content: "[trans spliced to]";
  padding-right: 1ex;
}

.tripal-cvb-relationship-trans_spliced_from >.tripal-cvb-cvterm:before {
  color: gray;
  content: "[trans spliced from]";
  padding-right: 1ex;
}

.tripal-cvb-relationship-starts >.tripal-cvb-cvterm:before {
  color: gray;
  content: "[starts]";
  padding-right: 1ex;
}

.tripal-cvb-relationship-started_by >.tripal-cvb-cvterm:before {
  color: gray;
  content: "[started by]";
  padding-right: 1ex;
}

.tripal-cvb-relationship-sequence_of >.tripal-cvb-cvterm:before {
  color: gray;
  content: "[sequence of]";
  padding-right: 1ex;
}

.tripal-cvb-relationship-recombined_to >.tripal-cvb-cvterm:before {
  color: gray;
  content: "[recombined to]";
  padding-right: 1ex;
}

.tripal-cvb-relationship-recombined_from >.tripal-cvb-cvterm:before {
  color: gray;
  content: "[recombined from]";
  padding-right: 1ex;
}

.tripal-cvb-relationship-processed_into >.tripal-cvb-cvterm:before {
  color: gray;
  content: "[processed into]";
  padding-right: 1ex;
}

.tripal-cvb-relationship-processed_from >.tripal-cvb-cvterm:before {
  color: gray;
  content: "[processed from]";
  padding-right: 1ex;
}

.tripal-cvb-relationship-position_of >.tripal-cvb-cvterm:before {
  color: gray;
  content: "[position of]";
  padding-right: 1ex;
}

.tripal-cvb-relationship-maximally_overlaps >.tripal-cvb-cvterm:before {
  color: gray;
  content: "[maximally overlaps]";
  padding-right: 1ex;
}

.tripal-cvb-relationship-lost >.tripal-cvb-cvterm:before {
  color: gray;
  content: "[lost]";
  padding-right: 1ex;
}

.tripal-cvb-relationship-is_consecutive_sequence_of >.tripal-cvb-cvterm:before {
  color: gray;
  content: "[is consecutive sequence of]";
  padding-right: 1ex;
}

.tripal-cvb-relationship-integral_part_of >.tripal-cvb-cvterm:before {
  color: gray;
  content: "[integral part of]";
  padding-right: 1ex;
}

.tripal-cvb-relationship-homologous_to >.tripal-cvb-cvterm:before {
  color: gray;
  content: "[homologous to]";
  padding-right: 1ex;
}

.tripal-cvb-relationship-similar_to >.tripal-cvb-cvterm:before {
  color: gray;
  content: "[similar to]";
  padding-right: 1ex;
}

.tripal-cvb-relationship-has_quality >.tripal-cvb-cvterm:before {
  color: gray;
  content: "[has quality]";
  padding-right: 1ex;
}

.tripal-cvb-relationship-has_origin >.tripal-cvb-cvterm:before {
  color: gray;
  content: "[has origin]";
  padding-right: 1ex;
}

.tripal-cvb-relationship-has_integral_part >.tripal-cvb-cvterm:before {
  color: gray;
  content: "[has integral part]";
  padding-right: 1ex;
}

.tripal-cvb-relationship-has_part >.tripal-cvb-cvterm:before {
  color: gray;
  content: "[has part]";
  padding-right: 1ex;
}

.tripal-cvb-relationship-guides >.tripal-cvb-cvterm:before {
  color: gray;
  content: "[guides]";
  padding-right: 1ex;
}

.tripal-cvb-relationship-guided_by >.tripal-cvb-cvterm:before {
  color: gray;
  content: "[guided by]";
  padding-right: 1ex;
}

.tripal-cvb-relationship-genome_of >.tripal-cvb-cvterm:before {
  color: gray;
  content: "[genome of]";
  padding-right: 1ex;
}

.tripal-cvb-relationship-gained >.tripal-cvb-cvterm:before {
  color: gray;
  content: "[gained]";
  padding-right: 1ex;
}

.tripal-cvb-relationship-finishes >.tripal-cvb-cvterm:before {
  color: gray;
  content: "[finishes]";
  padding-right: 1ex;
}

.tripal-cvb-relationship-finished_by >.tripal-cvb-cvterm:before {
  color: gray;
  content: "[finished by]";
  padding-right: 1ex;
}

.tripal-cvb-relationship-exemplar_of >.tripal-cvb-cvterm:before {
  color: gray;
  content: "[exemplar of]";
  padding-right: 1ex;
}

.tripal-cvb-relationship-edited_to >.tripal-cvb-cvterm:before {
  color: gray;
  content: "[edited to]";
  padding-right: 1ex;
}

.tripal-cvb-relationship-disconnected_from >.tripal-cvb-cvterm:before {
  color: gray;
  content: "[disconnected from]";
  padding-right: 1ex;
}

.tripal-cvb-relationship-contains >.tripal-cvb-cvterm:before {
  color: gray;
  content: "[contains]";
  padding-right: 1ex;
}

.tripal-cvb-relationship-contained_by >.tripal-cvb-cvterm:before {
  color: gray;
  content: "[contained by]";
  padding-right: 1ex;
}

.tripal-cvb-relationship-connects_on >.tripal-cvb-cvterm:before {
  color: gray;
  content: "[connects on]";
  padding-right: 1ex;
}

.tripal-cvb-relationship-complete_evidence_for_feature >.tripal-cvb-cvterm:before {
  color: gray;
  content: "[complete evidence for feature]";
  padding-right: 1ex;
}

.tripal-cvb-relationship-evidence_for_feature >.tripal-cvb-cvterm:before {
  color: gray;
  content: "[evidence for feature]";
  padding-right: 1ex;
}

.tripal-cvb-relationship-associated_with >.tripal-cvb-cvterm:before {
  color: gray;
  content: "[associated with]";
  padding-right: 1ex;
}

.tripal-cvb-relationship-adjacent_to >.tripal-cvb-cvterm:before {
  color: gray;
  content: "[adjacent to]";
  padding-right: 1ex;
}

/**
 * From crop ontology CV.
 */
.tripal-cvb-relationship-method_of >.tripal-cvb-cvterm:before {
  color: gray;
  content: "[method_of]";
  padding-right: 1ex;
}

.tripal-cvb-relationship-scale_of >.tripal-cvb-cvterm:before {
  color: gray;
  content: "[scale_of]";
  padding-right: 1ex;
}

.tripal-cvb-relationship-variable_of >.tripal-cvb-cvterm:before {
  color: gray;
  content: "[variable_of]";
  padding-right: 1ex;
}
